
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#internalcontent {
    min-height: 100%;
    margin: 10px;
}

#main {
    overflow: auto;
    padding-bottom: 145px;
}

.header {
    margin-left: 5px;
}

.card-block, .rounded {
    border-style: groove;
    border-width: 1px
}

.card-text {
    margin-left: 10px
}

.card-text span {
    margin-right: 10px;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    height: 145px;
    margin-top: -145px;
    clear: both;
    padding: 15px;
}
